html {
    box-sizing: border-box; /* Para cuando se le agregue un width y despues 
    un padding, no modifique el tamaño del elemento*/
    font-size: 62.5%; /* 1REM = 10px */
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;/* Tamaño recomendado para las fuentes */
    line-height: 2;
    font-optical-sizing: auto; /* Ajusta el grosor de las lineas segun el grosor de la letra*/
    font-weight: 400; /* Grosor de la letra*/
    font-style: normal; /* Estilo de la letra (Arial, Cursiva etc)*/
  }

  /*Globales*/
h1, h2, h3 {
    font-family: "Playfair", serif;
    margin: 0 0 2.5rem 0;
    font-optical-sizing: auto; /* Ancho de las lineas que forman cada letra segun si weight*/
    font-weight: 700; /* Grosor de la letra*/
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
    color: #000;
}
.contenedor { /*Centra el contenido*/
    max-width: 120rem;
    margin: auto;
}

img {
    max-width: 100%;
    display: block;
}

/* Utilidades */

.text-center {
    text-align: center; /* Una utuilidad solo puede tener 1 propiedad y valor*/
}

  /*Header y navegacion*/

.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span {
    color: #037bc0;
}

.contenedor-nav {
    border-top: .1rem solid #e1e1e1;
}

.nav-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* La imagen cubre  todo el espacio disponible*/
    background-position: center center;
    height: 55rem ;
}

/* Listado Categorias*/
.categorias {
    padding-top: 2.5rem;
}
.categorias h2{
    text-align: center;
}

.categoria a{
    text-align: center;
    display: block; /* Permite usar todo el espacio disponible y poder jugar con el texto en este caso*/
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover {
    background-color: #037bc0;
    color: #FFFFFF;
    border-bottom-right-radius: 2rem; /* Redondea los bordes del boton en la parte de abajo a la derecha */
    border-bottom-left-radius: 2rem;

}
.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas y 1 fila */
    gap: 2rem; /* Separacion de las columnas hacia los eje x, y*/
}

/* Bloque Nosotros*/

.sobre-nosotros {
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg); /* Degradado lineal*/
    background-position: left center;
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
}

.sobre-nosotros-grid {
    display: flex;
    justify-content: flex-end;
}

.texto-nosotros {
    flex-basis: 50%;
    padding-left: 10rem;
    color: #FFFFFF;
}

/* Listado de productos */

.contenido-principal {
    padding-top: 5rem ;
}

.producto {
    background-color: #037bc0;
}

.texto-producto {
    text-align: center;
    color: #FFFFFF;
}

.texto-producto h3 {
    margin: 0;
}

.texto-producto p {
    margin: 0 0 .5rem 0;
}
.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;


}